input {
  border: solid 1px black;
}

label {
  margin-right: 10px;
}

h1 {
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-bottom: 30px;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quantity {
  margin: 0 5px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 50px;
}

.item > div {
  min-width: 240px;
}

.item div:nth-child(4), .item div:nth-child(5) {
  text-align: right;
  margin-right: 10px;
}

.final-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.final-price h2 span {
  margin-left: 10px;
}

.price:before, .total:before, #totalSum:before {
content: '$';
}
